<?xml version="1.0"?>
<launch>

  <node name="gplanner" pkg="grasp_planner" type="grasp_planner_node" output="screen"> <!-- launch-prefix="xterm -e gdb -args" -->
    
    <param name="gripper_file" value="$(find grasp_planner)/cfg/yumi_cyl_03mm.cons"/>
    <!--param name="gripper_file" value="$(find grasp_planner)/cfg/dummy.cons"/-->
    <param name="map_frame_name" value="sdf_map_frame"/>
    <param name="use_tf" value="true"/>
    <param name="sdf_map_topic" value="/sdf_map"/>

    <!-- asus camera -->
    <param name="depth_info_topic_name" value="/camera/depth_registered/camera_info"/>
    <param name="depth_topic_name" value="/camera/depth_registered/image_raw"/> 
    <!-- kinect2 camera -->
    <param name="depth_topic_name2" value="/kinect2/hd/image_depth_rect"/>
    <param name="depth_info_topic_name2" value="/kinect2/hd/camera_info"/>

    <!-- SDF related parameters -->
    <!--param name="LoadVolume" value= "$(find grasp_planner)/cfg/example.vti" /-->
    <param name="LoadVolume" value= "$(find grasp_planner)/cfg/bunny_003.vti" />
    <param name="runTrackerFromVolume" value= "true" />
    <param name="GridSizeX" value= "190"/>
    <param name="GridSizeY" value= "80"/>
    <param name="GridSizeZ" value= "270"/>
    <param name="PositiveTruncationDistance" value= "0.03" />
    <param name="NegativeTruncationDistance" value= "-0.003" />
    <param name="RobustStatisticCoefficient" value= "0.01" />
    <param name="OutputVolume" value= "false" />
    <param name="InteractiveMode" value= "false" />
    <param name="MaximumRaycastSteps" value= "360" /> 
    <param name="OutputTriangles" value= "false" />

    <param name="tf_world2sdf_x" value="0.45"/>
    <param name="tf_world2sdf_y" value="0.0"/>
    <param name="tf_world2sdf_z" value="0.17"/>
    <param name="tf_world2sdf_yaw" value="3.14"/>
    <param name="tf_world2sdf_pitch" value="0.0"/>
    <param name="tf_world2sdf_roll" value="1.57"/>
    
  </node>
  <node pkg="tf" type="static_transform_publisher" name="roipub"
         args="0.45 0.0 0.17 3.14 0.0 1.57 world sdf_map_frame 100" />

</launch>
